.topper__title{
    position: static;
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    padding: 20px 0;
}

section{
    margin-top: 40px;
}


@media (max-width: 1200px){
    .topper__title{
        font-size: 12px;
        padding: 10px 0;
    }
}


