- imagePull:
    credentials: {{ .Values.IMAGE_PULL_SECRET_CREDENTIALS_BASE64 }}
    secretName: {{ .Values.SECRET_NAME }}
- imagePullSecrets: 
  - name: {{ .Values.SECRET_NAME }}
- image:
    tag: {{ .Values.IMAGE_TAG }}