appSettings: {}

ingress:
  enabled: true
  hosts:
    - host: daniil.dolgosheev.ru
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: 
    - secretName: chart-application-prod-tls
      hosts:
        - daniil.dolgosheev.ru